body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    color: white;
    font-family: "Roboto", sans-serif;
}

h1 {
    background: #7F7FD5;
    background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
    background-clip: text;
    --webkit-background-clip: text;
    --webkit-text-fill-color: transparent;
}

.container {
    height: 100%;
    display: flex;
}

#toolbar {
    display: flex;
    flex-direction: column;
    padding: 15px;
    /* width: 70px; */
    width: 20vw;
    background-color: #202020;
}

#toolbar * {
    margin-bottom: 6px;
}

#toolbar label {
    font-size: 14px;
}

#toolbar input {
    width: 100%;
}

#toolbar button {
    /* background-color: #1565c0; */
    background-color: #4c4c4c;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 3%;
}

#drawing-board {
    /* border: 2px solid black; */
    border-radius: 15px;
    width: 80vw;
    height: 100vh;
}

template {
    max-width: 5px;
}

#stroke {
    height: 10%;
}