body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    color: white;
    font-family: "Roboto", sans-serif;
}

h1 {
    background: #7F7FD5;
    background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
    background-clip: text;
    --webkit-background-clip: text;
    --webkit-text-fill-color: transparent;
}

.container {
    height: 100%;
    display: flex;
}

#toolbar {
    display: flex;
    flex-direction: column;
    padding: 15px;
    /* width: 70px; */
    width: 20vw;
    background-color: #202020;
}

#toolbar * {
    margin-bottom: 6px;
}

#toolbar label {
    font-size: 14px;
}

#toolbar input {
    width: 100%;
}

.btn {
    /* background-color: #1565c0; */
    /* background-color: #4c4c4c; */
    background-color: #131314;
    border: none;
    border-radius: 8px;
    color: #a1a1a1;
    padding: 3%;
    font-size: 14px;
}

#drawing-board {
    /* border: 2px solid black; */
    border-radius: 15px;
    width: 80vw;
    height: 100vh;
}

template {
    max-width: 5px;
}

#stroke {
    height: 10%;
}

/* #mainControls {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.mainControlsContainer {
    height: 100%;
    display: flex;
} */

#mainControls {
    position: absolute;
    bottom: 95px;
    /* bottom: 30px; */
    right: 60px;
    z-index: 10;
    padding: 6px 10px;
    background-color: rgba(0, 0, 0, 0.3);
    /* background-color: #7F7FD5; */
    /* border: 1px solid #ccc; */
    border-radius: 12px;
    /* cursor: pointer; */
    width: 32.16%;
    /* width: 40%; */
    text-align: center;
    display: none;
}

#mainControls * {
    margin: 0 1px;
}

.otherControls {
    position: absolute;
    bottom: 100px;
    /* bottom: 37px; */
    right: 8px;
    z-index: 10;
    padding: 9px 10px;
    background-color: #131314;
    /* background-color: #7F7FD5; */
    /* border: 1px solid #ccc; */
    border: none;
    border-radius: 15px;
    cursor: pointer;
    /* width: 26%; */
}

#testText {
    margin: 0;
    /* color: #8e8e8f; */
}



#addMarker:hover {
    cursor: pointer;
}

.addMarkerText {
    border-radius: 5px;
    border: 1px solid #131314;
    height: 40px;
    padding: 0 5px;
    background: #131314;
    color: #a1a1a1;
}